/* 版心尺寸 */
.w {
    width: 1240px;
    margin: 0 auto;
}

/* ----快捷导航栏---- */

/* 导航栏大小 */
.banner {
    height: 52px;
    background-color: #333;
}

/* 选项排列方式 */
.banner ul {
    display: flex;
    height: 52px;
    justify-content: right;
    align-items: center;
}

/* 选项本体大小颜色 */
.banner .line {
    width: 1px;
    height: 12px;
    background-color: #999;
    margin: 0px 15px;
}

/* 手机图标 */
.banner li img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

/* 移动颜色效果 */
.banner li a {
    color: #fff;
}

.banner li a:hover {
    color: #5EB69C;
}


/*----头部导航栏---- */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 132px;
}

/* logo盒子大小，标题，图片大小 */
.header .logo {
    width: 200px;
    height: 88px;
}

.header .logo h1 {
    width: 100%;
    height: 100%;
}

.header .logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/小兔鲜儿logo.png) no-repeat;
    text-indent: -128px;
    overflow: hidden;
}

/* 导航栏盒子大小和排列方式以及悬停效果 */
.nav {
    display: flex;
    gap: 48px;
}

.nav ul li a {
    display: block;
    line-height: 40px;
}

.nav li a:hover {
    color: #5EB69C;
    border-bottom: 2px solid #5EB69C;
}

/* 搜索框设定以及放大镜图片和购物车图片设定 */
.search input {
    width: 170px;
    height: 40px;
    border-bottom: 2px solid #f4f4f4;
    padding-left: 28px;
    font-size: 16px;
}

.search input::placeholder {
    font-size: 16px;
    color: #ccc;
}

.search img {
    width: 20px;
    height: 20px;
}

.car img {
    width: 17px;
    height: 17px;
    margin-top: -7px;
}

.car p {
    margin-left: 9px;
    margin-top: 2px;
    font-size: 9px;
    padding: 1px 7px;
    background-color: #E26237;
    border-radius: 7px;
    color: #fff;
}

/* 网页的头部 */

/* 底部大小设计 */
.bottom {
    height: 580px;
    background-color: #f5f5f5;
}

/* 标语及其图片的排列与尺寸 */
.slogan {
    border-bottom: 1px solid #e8e8e8;
}

.slogan ul {
    display: flex;
    height: 178px;
    justify-content: space-evenly;
}

.slogan ul li {
    display: flex;
    align-items: center;
}

.slogan ul li h5 {
    width: 58px;
    height: 58px;
    background: url(../images/价格亲民.png) no-repeat;
}

.slogan ul li .two {
    width: 58px;
    height: 58px;
    background: url(../images/物流快捷.png) no-repeat;
}

.slogan ul li .three {
    width: 58px;
    height: 58px;
    background: url(../images/品质新鲜.png) no-repeat;
}

.slogan ul li .four {
    width: 58px;
    height: 58px;
    background: url(../images/售后无忧.png) no-repeat;
}

.slogan ul li p {
    font-size: 28px;
    margin-left: 20px;
}


/* 底部服务栏 */
.service {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

/* 左边的一堆字的排列及大小 */
.service-left {
    display: flex;
    gap: 84px;
}

.service-left dt {
    font-size: 18px;
    margin-bottom: 33px;
}

.service-left dd a {
    display: inline-block;
    color: #969696;
    margin-bottom: 18px;
}

/* 客服图标 */
.service-left dd img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

/* 右边的盒子和图片们、标题们的大小 */
.service-right {
    display: flex;
}

.service-right ul {
    display: flex;
    gap: 55px;
    text-align: center;
}

.service-right ul li {
    color: #969696;
}

.service-right ul li p {
    margin-top: 10px;
}

/* 底部的版权信息 */
.copyright {
    text-align: center;
    margin-top: 100px;
    line-height: 30px;
    color: #969696;
}

.copyright a {
    color: #969696;
}


/* ----网页底部---- */