/* 1.分类导航盒子设计 */
.entry {
    height: 500px;
    background-color: #f5f5f5;
}

.entry .w {
    display: flex;
    height: 100%;
    background: url(../uploads/banner1.png) no-repeat;
}

/* 1.1左边一堆的菜单设计 */
.category {
    width: 250px;
    height: 500px;
    margin-right: 885px;
    background-color: rgba(98, 98, 98);
}

.category ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 12px 0 29px;
}

.category ul li a {
    font-size: 16px;
    margin-right: -6px;
    color: #fff;
}

.category ul li p {

    font-size: 14px;
    color: #fff;
}

/* 1.2向右箭头 */
.category ul li .right {
    font-size: 20px;
}

/* 1.1.1图片上的圆点 */
.nut {
    width: 94px;
    height: 23px;
    margin-top: 463px;
}

/* 1.3大图片的尺寸 */
.category ul li img {
    width: 20px;
    height: 20px;
}

/* 2.1板块标题部分 */
.box-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 112px;
}

.box-hd h2 {
    font-size: 30px;
}

.box-hd h2 small {
    color: #a1a1a1;
    font-size: 16px;
    margin-left: 30px;
}

/* 2.1.1悬停变色 */
.box-hd a {
    color: #a1a1a1;
    font-size: 14px;
}

/* 2.2商品列表设计*/
.box-bd ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.box-bd ul li {
    width: 304px;
    height: 404px;
    background-color: #eef9f4;
}

/* 2.2.1商品图片大小 */
.box-bd ul li img {
    width: 304px;
    height: 304px;
}

/* 2.3商品标题大小 */
.box-bd ul li .title {
    margin: 18px 0 17px;
    font-size: 20px;
    padding: 0 25px;
}

/* 2.4商品价格大小 */
.price {
    font-size: 22px;
    color: #aa2113;
}

.price span {
    font-size: 18px;
    color: #aa2113;
}

/* 3.人气推荐模块底色 */
.hot .box-bd ul li {
    background-color: #fff;
}

/* 4热门商品模块底色 */
.brand {
    height: 468px;
    background-color: #f1f1f1;
}

/* 4.1热门商品图片设计 */
.image ul {
    display: flex;
    justify-content: space-between;
}

.image ul li {
    height: 306px;
}

/* 4.1.1上下页按钮大小和悬停效果 */
.brand .cube {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.brand .cube .choice-rl {
    width: 20px;
    height: 20px;
    background-color: #e4e4e4;
    color: #fffffe;
    text-align: center;
    line-height: 12px;
    font-size: 21px;
    padding: 3px 2px;
}

.brand .cube .choice-rl:hover {
    background-color: #5EB69C;
}

/* 5.服饰 */
/* 5.1头部-分类设计 */
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 102px;
    padding-top: 10px;
}

.head h2 {
    font-size: 29px;
}

.head .head-right {
    display: flex;
}

/* 5.1.1分类的标签样式 */
.head .head-right ul {
    display: flex;
    gap: 10px;
    margin-right: 60px;
}

.head li a {
    font-size: 16px;
    padding: 3px 8px;
}

/* 5.1.2分类标签悬停效果 */
.head li a:hover {
    color: #fff;
    background-color: #5EB69C;
}

/* 5.1.3查看更多 */
.head .head-right .more {
    font-size: 16px;
    color: #a1a1a1;
}

/* 5.2商品设计 */
.body {
    display: flex;
    justify-content: space-between;
}

/* 5.2.1左边的图片 */
.body .left {
    width: 248px;
    height: 610px;
}

/* 5.2.2右边商品设计 */
.body .right {
    display: flex;
    flex-wrap: wrap;
    width: 968px;
    height: 610px;
}

.body .right li {
    width: 242px;
    height: 305px;
    padding: 10px 21px 0px;
}

.body .right .text {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 19px;
}

/* 最新专题 6.topic排列方式 */
.new-body ul {
    display: flex;
}

/* topic空间大小 */
.new-body ul li {
    flex: 1;
    height: 395px;
}

/* topic图片大小 */
.new-body ul li .topic {
    width: 100%;
}

/* 数据模块 */
.new-body .mase {
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.mase-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 爱心和浏览模块 */
.mase-left .div {
    display: flex;
    margin-right: 22px;
    font-size: 13px;
    color: #888888;
}

/* 爱心和浏览图标 */
.new-body .mase img {
    width: 14px;
    height: 14px;
}

.mase-left .div .up {
    width: 15px;
    height: 14px;
}

/* 爱心数和观看量 */
.mase .div p {
    font-size: 12px;
    color: #888888;
}

/* 评论数 */
.mase-right {
    font-size: 13px;
    color: #888888;
}